@model zhsqw.Models.news

@{
    Layout = "_wuye";
    ViewData["Title"] = "编辑信息";
}

<form asp-action="Edit">
    <div style="border-bottom:1px solid #ffcccc;width:700px;height:25px;font-size:15px;font-weight:bold;text-align:center;margin:10px auto">编辑信息</div>
    <table cellpadding="0" cellspacing="0" style="width:700px">
        <tr>
            <td style="width:20%" class="qtitle">信息类别：</td>
            <td style="width:80%" class="qcontent">
                <input asp-for="NewsClass" style="width:200px" />
            </td>
        </tr>
        <tr>
            <td style="width:20%" class="qtitle">信息标题：</td>
            <td style="width:80%" class="qcontent">
                <input asp-for="NewsTitle" style="width:200px" />
            </td>
        </tr>
        <tr>
            <td class="qtitle" colspan="2">信息内容：</td>
        </tr>
        <tr>
            <td class="qcontent" colspan="2">
                <textarea asp-for="NewsContent"></textarea>
            </td>
        </tr>
        <tr>
            <td style="height:35px" colspan="2">
                <a onclick="$('form').submit();$(this).parent().text('正在提交...')" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">保存编辑</a>
                <a asp-action="Index" class="easyui-linkbutton" data-options="iconCls:'icon-redo'">返回列表</a>
            </td>
        </tr>
    </table>
</form>
@section scripts{
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.js"></script>
    <script type="text/javascript">
        UE.getEditor("NewsContent");
    </script>
}