<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理系统</title>
    <style type="text/css">
        #contentid{color:green;background:url(/images/wuye/title_ico.png) no-repeat;padding-left:20px}
    </style>
    <link rel="stylesheet" href="~/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="~/easyui/themes/icon.css">
    <script src="~/easyui/jquery.min.js"></script>
    <script src="~/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".submenu").each(function () {
                $(this).mouseover(function () { $(this).css("background-color", "#ffcccc"); });
                $(this).mouseout(function () { $(this).css("background-color", "#ffffff"); });
            })
        });
        function gom(m, url) {
            $("#contentid").text("当前操作：" + $(m).text());
            $("#mframe").attr("src", url);
        }
    </script>
    <style type="text/css">
        .icon-canshu{background:url('/images/wuye/canshu.png') no-repeat center center;}
        .icon-dangan{background:url('/images/wuye/dangan.png') no-repeat center center;}
        .icon-shiwu{background:url('/images/wuye/shiwu.png') no-repeat center center;}
        .icon-jiaofei{background:url('/images/wuye/jiaofei.png') no-repeat center center;}
        .icon-baobiao{background:url('/images/wuye/baobiao.png') no-repeat center center;}
        .submenu{line-height:25px;cursor:pointer;background:url('/images/wuye/submenu.gif') no-repeat 10px center;padding-left:25px;border-bottom:1px solid #ffcccc}
    </style>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:100px;background-color:#a1ccf1;position:relative">
        <div style="width:1003px;height:100px;background-image:url(/images/wuye/topbg.jpg)">
            <img src="~/images/wuye/logo.png" alt="" style="height:70px;margin:15px auto auto 15px" />
        </div>
        <div style="position:absolute;top:20px;right:20px;width:255px;font-size:14px;color:#0e2d5f;line-height:20px">
            <div style="display:inline-block;width:80px;text-align:center">
                <img src="~/images/home.png" alt="网站首页" /><br />网站首页
            </div>
            <div style="display:inline-block;width:80px;text-align:center">
                <img src="~/images/modpass.png" alt="修改密码" /><br />修改密码
            </div>
            <div style="display:inline-block;width:80px;text-align:center">
                <img src="~/images/exit.png" alt="安全退出" /><br />安全退出
            </div>
        </div>
        <div style="position:absolute;left:6px;bottom:3px">当前用户：<span style="margin-left:35px" />公司名称：</div>
    </div>
    <div data-options="region:'west',split:false,title:'导航菜单'" style="width:180px">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="参数设置" data-options="iconCls:'icon-canshu'">
                <div class="submenu" onclick="gom(this,'/news/Index')">综合信息管理</div>
                <div class="submenu" onclick="gom(this,'/')">物业参数设置</div>
                <div class="submenu" onclick="gom(this,'/')">收费标准设置</div>
                <div class="submenu" onclick="gom(this,'/')">收费批量设置</div>
            </div>
            <div title="社区档案" data-options="iconCls:'icon-dangan',selected:true">
                <div class="submenu" onclick="gom(this, '/w_areas/Index')">社区管理</div>
                <div class="submenu" onclick="gom(this, '/w_areas/Index')">楼宇管理</div>
                <div class="submenu" onclick="gom(this, '/w_areas/Index')">业主管理</div>
                <div class="submenu" onclick="gom(this, '/w_areas/Index')">车位管理</div>
                <div class="submenu" onclick="gom(this, '/w_areas/Index')">数据导入</div>
            </div>
            <div title="社区事务" data-options="iconCls:'icon-shiwu'">
                <div class="submenu" onclick="gom(this, '/')">业主入住登记</div>
                <div class="submenu" onclick="gom(this, '/')">业主装修管理</div>
                <div class="submenu" onclick="gom(this, '/')">社区通知维护</div>
                <div class="submenu" onclick="gom(this, '/')">专有物业维保</div>
                <div class="submenu" onclick="gom(this, '/')">业务特约服务</div>
            </div>
            <div title="物业缴费" data-options="iconCls:'icon-jiaofei'">
                <div class="submenu" onclick="gom(this,'/')">缴费管理</div>
                <div class="submenu" onclick="gom(this,'/')">批量缴费</div>
                <div class="submenu" onclick="gom(this,'/')">短信催缴</div>
            </div>
            <div title="业务报表" data-options="iconCls:'icon-baobiao'">
                <div class="submenu" onclick="gom(this,'/')">缴费流水账</div>
                <div class="submenu" onclick="gom(this,'/')">费用明细查询</div>
                <div class="submenu" onclick="gom(this,'/')">收费项目日表</div>
                <div class="submenu" onclick="gom(this,'/')">收费项目月表</div>
                <div class="submenu" onclick="gom(this,'/')">收费项目汇总</div>
                <div class="submenu" onclick="gom(this,'/')">收费项目分析</div>
                <div class="submenu" onclick="gom(this,'/')">现金收入统计</div>
                <div class="submenu" onclick="gom(this,'/')">在线支付明细</div>
                <div class="submenu" onclick="gom(this,'/')">账户变动查询</div>
            </div>
        </div>
    </div>
    <div data-options="region:'south',border:false" style="height:35px;background:#A9FACD;padding:10px;text-align:center">中国智慧社区网</div>
    <div data-options="region:'center',title:'<div id=\'contentid\'></div>'">
        <iframe id="mframe" name="mframe" style="width:100%;height:99%;border:0px" allowTransparency="true" frameborder="0"></iframe>
    </div>
</body>
</html>
